{{ define "main" }}

{{ with .Params.hero }}
{{ if .enabled }}
<!-- Hero Section -->
<section class="bg-contact-us-gradient bg-left bg-no-repeat px-5 2xl:px-0">
    <div class=" max-w-screen-xl mx-auto">
        <div class="max-w-4xl mx-auto pt-24 pb-12 text-center">
            <h1 class="text-5xl lg:text-6xl font-bold">
                {{ .title }}
            </h1>
            <p class="my-10 text-lg">
                {{ .content }}
            </p>
        </div>
        {{/* Fetch the featured post */}}
        {{ $blog := site.GetPage "posts" }}
        {{ $featuredPost := index (where $blog.RegularPages "Params.featured" true) 0 }}

        {{ with .featured }}
        {{ if $featuredPost }}
        <div class="container mx-auto lg:flex lg:justify-center gap-12 p-8 lg:p-16 border-[#D8D8D8] border rounded-3xl">
            <div>
                <p class="text-2xl pb-6 font-bold bg-gradient-to-r from-custom-blue-dark from-15% to-custom-blue-light to-83% bg-clip-text text-transparent w-fit">
                    {{ .label }}
                </p>
                <a href="{{ $featuredPost.Permalink }}">
                    <h2 class="text-4xl lg:text-5xl font-bold pb-6">
                        {{ $featuredPost.Title }}
                    </h2>
                </a>
                <p class="text-base pb-8">
                    {{ with $featuredPost.Summary }}
                        {{ if gt (len .) 180 }}
                            {{ . | plainify | truncate 180 }}
                        {{ else }}
                            {{ . | plainify }}
                        {{ end }}
                    {{ end }}
                </p>
                <p class="text-base">
                    {{ $featuredPost.Params.author }} |  {{  $featuredPost.Date.Format "Jan 2, 2006" }}
                </p>
            </div>
            <div class="w-full">
                {{ $image := resources.GetMatch $featuredPost.Params.image }}
                <a href="{{ $featuredPost.Permalink }}" class="block bg-cover bg-no-repeat bg-center w-full h-64 lg:h-80 rounded-xl mt-8"
                    style="background-image: url('
                    {{- with $image -}}
                        {{- with .Resize "x500 webp" -}}
                            {{- .RelPermalink -}}
                        {{- end -}}
                    {{- end -}}
                    ');">
                </a>
            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}

{{ with .Params.posts }}
{{ if .enabled }}
    <section>
        <div class="container mx-auto max-w-screen-xl pt-32 px-5 2xl:px-0">
            <div class="text-center pb-12">
                <h2 class="text-4xl lg:text-5xl font-bold pb-4">
                    {{ .title }}
                </h2>
                <p class="text-lg">
                    {{ .content }}
                </p>
            </div>
            <!-- Row -->
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
            <!-- <div class="lg:flex gap-6"> -->

                {{ $blog := site.GetPage "posts" }}
                {{ range $blog.RegularPages }}
                <div class="mb-16">
                    <a href="{{ .Permalink }}">
                        <div class="bg-cover bg-no-repeat bg-center w-full h-64 rounded-xl mb-8"
                            style="background-image: url('{{- if .Params.image -}}
                                {{- $image := resources.GetMatch .Params.image -}}
                                {{- with $image -}}
                                    {{- with .Resize "400x webp" -}}
                                        {{- .RelPermalink -}}
                                    {{- end -}}
                                {{- end -}}
                                {{- else -}}
                                {{- $image := resources.GetMatch .Site.Params.default_hero_image.image -}}
                                    {{- with $image -}}
                                    {{- with .Resize "400x webp" -}}
                                        {{- .RelPermalink -}}
                                    {{- end -}}
                                    {{- end -}}
                                {{- end -}}');">

                        </div>
                    </a>
                    <div>
                        <a href="{{ .Permalink }}" class="text-2xl font-bold mb-4">
                            {{ .Title }}
                        </a>
                        <p class="mb-4">
                            {{ with .Summary }}
                                {{ if gt (len .) 90 }}
                                    {{ . | plainify | truncate 90 }}
                                {{ else }}
                                    {{ . | plainify }}
                                {{ end }}
                            {{ end }}
                        </p>
                        <p>
                            {{ if .Params.Author }}{{ .Params.Author }} {{ else }} {{ .Site.Author.name }} {{ end }} |  {{ if .Params.Date }}{{ .Params.Date | time.Format ":date_medium" }}{{ end }}
                        </p>
                    </div>
                </div>
                {{ end }}
            </div>
            <!-- End Row -->
        </div>
    </section>
{{ end }}
{{ end }}

{{ end }}
