{{ $image := resources.GetMatch .image_link }}
{{ $image_alt := .image_alt }}
{{ with $image }}
    <picture>
        {{ if gt .Width 600 }}
            {{ with .Resize (printf "%dx%d webp" ( div .Width 2 ) ( div .Height 2) )}}
                <source media="(max-width: 799px)" srcset="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" />
            {{ end }}
        {{ end }}
        {{ with .Resize (printf "%dx%d webp" .Width .Height)}}
            <source media="(min-width: 800px)" srcset="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" />
            <img src="{{ .RelPermalink }}" alt="{{- with  $image_alt -}} {{- . -}}{{- end -}}" width="{{ .Width }}" height="{{ .Height }}">
        {{ end }}
    </picture>
{{ end }}
