{{ define "main" }}
<section class="text-center bg-hero-gradient py-24 px-5 2xl:px-0">
    <div class="">
        <div class="max-w-3xl mx-auto">
            <h1 class="my-10 text-5xl lg:text-6xl font-bold">
                Page Not Found
            </h1>
            <p class="my-10 text-xl">
                The page you are looking for is missing.
            </p>
            <p class="my-10 text-xl">
                Please go back to <a href="/" class="border-b pb-1 border-slate-500 hover:border-b-2">Home page</a>.
            </p>
        </div>
    </div>
</section>
{{ end }}
